@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #212121;
}

[data-theme='dark'] {
  --background: #212121;
  --foreground: #dadada;
}

body {
  color: var(--foreground);
  background: var(--background);
}

div.skills li {
  padding: 2px;
}

ul.key {
  color: coral;
}
