.centered .about .info {
  display: flex;
  justify-content: center;
}

.centered .about .info ul {
  padding: 0.5em;
}

.centered .about .info ul li {
  display: block ruby;
  position: relative;
  font-family: "Fira Mono", monospace;
}

.centered .about .info ul.key {
  text-align: right;
  min-width: fit-content;
  padding-left: 13.5rem;
}

.centered .about .info ul.key li {
  display: block;
  color: coral;
}

.centered .about .info ul.value {
  text-align: left;
  min-width: fit-content;
}

.centered .about .info ul.value li {
  display: block;
}
